:root {
	background-color: black;
}


* {
	border-color: white;
	border-width: 2px;
	border-radius: 5px;
	padding: 5px;
	color: white;
}

Button:hover {
	border-color: red;
	transition: 0.25s all;
}

